*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --select-border: #d8d8d8;
  --select-focus: var(--select-border);
  --select-arrow: #090909;
  --refresh-btn-border: #74c6f9;
  --background: #e9eff3;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container-super {
  display: flex; /* or inline-flex */
}

.container-super-wrap {
  flex-wrap: wrap;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item {
  flex-grow: 1; /* default 0 */
  padding-left: 15px;
  padding-right: 15px;
}

.item-g-0 {
  flex-grow: 1; /* default 0 */
}

.item-auto {
  padding-left: 15px;
  padding-right: 15px;
}

.f-grow-11 {
  flex-grow: 11;
}

.f-basis-auto {
  flex-basis: auto;
  flex-grow: 0;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 5px;
}

.plr-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.pb-0 {
  padding-bottom: 0px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-3 {
  margin-top: 15px;
}

.mr-4 {
  margin-right: 20px;
}

/* Reset Select */
select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /* Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  width: 100%;
  min-width: 20ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  /* border-radius: 0.25em; */
  padding: 0.5em;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.select:after {
  grid-area: select;
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}

.loader {
  display: inline-flex;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  vertical-align: middle;
}

.loader-big {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-position {
  position: relative;
  display: inline-flex;
}
.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
