.session-mgt-wrapper .container-super-wrap .item-auto {
  border-right: 1px solid var(--select-border);
}

.session-mgt-wrapper .container-super-wrap .item-auto:last-child {
  border-right: none;
}

.session-mgt-wrapper .btn-menu {
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
}

.session-mgt-wrapper .btn-menu li {
  display: inline-block;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  max-width: 80px;
}

.session-mgt-wrapper .btn-menu .refresh-btn,
.session-mgt-wrapper .btn-menu .remove-btn {
  border: none;
  background: transparent;
  font-size: 12px;
  width: 100%;
  min-width: 80px;
  cursor: pointer;
  padding: 0;
}

.session-mgt-wrapper .btn-menu .refresh-btn i {
  margin-bottom: 8px;
  color: #000000;
  font-size: 17px;
}

.session-mgt-wrapper .btn-menu .remove-btn i {
  margin-bottom: 8px;
  color: orange;
  font-size: 17px;
}

.session-mgt-wrapper .btn-menu .remove-btn.new i {
  color: var(--refresh-btn-border);
}

.session-mgt-wrapper .main-content .last-refresh {
  padding: 10px;
}

.session-mgt-wrapper .main-content .last-refresh-heading {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

.session-mgt-wrapper .main-content .refrsh-results {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-top: 30px;
}

.session-mgt-wrapper .main-content .refrsh-results li {
  cursor: pointer;
  max-width: 90px;
  width: 100%;
}

.session-mgt-wrapper .main-content .refrsh-results li i,
.session-mgt-wrapper .main-content form .blue {
  color: var(--refresh-btn-border);
}

.session-mgt-wrapper .main-content .refrsh-results li .para {
  font-size: 22px;
  margin-bottom: 0px;
}

.session-mgt-wrapper .main-content .refrsh-results li .green {
  color: rgb(116, 202, 30);
}

.session-mgt-wrapper .main-content .refrsh-results li .orange {
  color: orange;
}

.session-mgt-wrapper .main-content .open-tenant {
  padding: 6px 8px;
  border-radius: 0px;
  background: transparent;
  border: 2px solid#4380b3;
  cursor: pointer;
}

.session-mgt-wrapper .main-content .btn {
  border: 1px solid var(--select-border);
  font-size: 12px;
}

.session-mgt-wrapper .main-content .select {
  display: inline-flex;
  max-width: 20ch;
}

.session-mgt-wrapper .main-content #search {
  border: none;
  border-bottom: 1px solid var(--refresh-btn-border);
}

.session-mgt-wrapper .main-content .result-box {
  margin-top: 10px;
  padding: 10px;
  border-top: 2px solid var(--select-border);
  background: var(--background);
}

.session-mgt-wrapper .main-content .result-box .results {
  background: #ffffff;
  border: 1px solid var(--select-border);
  padding: 10px;
  height: 100%;
  max-height: 300px;
  min-height: 300px;
  overflow: auto;
}

.session-mgt-wrapper .main-content .result-box .results .results-table {
  width: 100%;
}

.session-mgt-wrapper .main-content .result-box .results .results-table th,
.session-mgt-wrapper .main-content .result-box .results .results-table td {
  width: 33%;
}

.session-mgt-wrapper .loder-td {
  height: 250px;
}

.session-mgt-wrapper .quick-user-check {
  padding: 10px;
  border: 1px solid var(--select-border);
  border-top: none;
}

.session-mgt-wrapper .open-close {
  margin-left: auto;
}

.session-mgt-wrapper .acc-head {
  background: var(--refresh-btn-border);
  padding: 5px 10px;
}

.session-mgt-wrapper .acc-body {
  padding: 10px;
  background: #ffffff;
}

.session-mgt-wrapper [type="radio"] {
  vertical-align: middle;
}

.session-mgt-wrapper .enter-upn {
  padding: 0.5em;
  font-size: 12px;
  border: 1px solid var(--select-border);
  line-height: 1.1;
  margin-left: 15px;
}

.session-mgt-wrapper .user-action-btns {
  margin-left: auto;
}

.session-mgt-wrapper .custon-log {
  min-width: 124px;
  text-align: left;
}

.session-mgt-wrapper .custon-log .orange {
  color: orange;
}

.session-mgt-wrapper .custon-log .red {
  color: red;
}

.session-mgt-wrapper .blue {
  color: var(--refresh-btn-border);
}

.session-mgt-wrapper .left,
.session-mgt-wrapper .right {
  width: 50%;
}

.session-mgt-wrapper .user {
  background: #ffffff;
  border: 1px solid var(--select-border);
}

.session-mgt-wrapper .user-head {
  padding: 5px 10px;
}

.session-mgt-wrapper .user-body {
  padding: 5px 10px;
  border-top: 1px solid var(--select-border);
  height: 100%;
  max-height: 100px;
  min-height: 100px;
  overflow: auto;
}
